<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://forumsmile.ru/u/5/9/8/5989edbeded5c354f4d5b1bd0e8360f2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!-- <div class="container">
<p>Имя: {{name}}</p>
<p>Возраст: {{age}}</p>
<p>Количество кликов: {{count}}</p>
<button (click)="increase()">Click</button>
<p>Привет {{name}}</p>
                <input type="text" [(ngModel)]="name" /> <br><br>
                <input type="text" [(ngModel)]="name" />
</div>
<div class="click-box">
<h2>Количество кликов: {{clicks}}</h2>
<child-comp (onChanged)="onChanged($event)"></child-comp>

</div>
<div class="changeName">
<child-comp [(userName)]="name"></child-comp>
<div>Выбранное имя: {{name}}</div>
</div>-->
<!-- <p>hello angular! 2</p>
<child-comp [name]="name"></child-comp>
<input type="text" [(ngModel)]="name"  class="input" />
<p #userName>{{name}}</p>
<p>{{userName.textContent}}</p>
<input type="text" [(ngModel)]="name" />

<child-comp #counter></child-comp>
<button (click)="counter.increment()" class="butt">+</button>
<button (click)="counter.decrement()">-</button>
<p #nameText>{{name}}</p>
<p>{{nameText.textContent}}</p> -->
<child-comp>
<h3 #headerContent>Добро пожаловать {{name}}!</h3>
</child-comp>
<div [ngClass]="{verdanaFont:true}">
 <h1>Hello Angular 2</h1>
 <p [ngClass]="{segoePrintFont:true}">
 Angular 5 представляет модульную архитектуру приложения
  </p>
</div>

<div [class.verdanaFont]="true">
    <h1>Hello Angular 5</h1>
    <p [class.verdanaFont]="false" [class.segoePrintFont]="true">
        Angular 5 представляет модульную архитектуру приложения
    </p>
</div>

<div [ngStyle]="{'font-size':'13px', 'font-family':'Verdana'}">
                    <h1>Hello Angular 6</h1>
                    <p [ngStyle]="{'font-size':'14px', 'font-family':'Segoe Print'}">
                        Angular 6 представляет модульную архитектуру приложения
                    </p>
                </div>

<div [ngClass]="{invisible: visibility}">
     <h1>Hello Angular!!!</h1>
      <p>
           Angular 6 представляет модульную архитектуру приложения
      </p>
</div>
<button (click)="toggle()">Toggle</button>

<div>
  <p bold>Hello Angular 2!!! My dear!</p>
  <p>Angular 2 представляет модульную архитектуру приложения</p>
</div>



