* {
	box-sizing: border-box;
}

.card {
	margin-left: 500px;
	color: olive;
}

/* :host {
	font-family: Verdana;
	text-align: center;
	font-size: 20px;
	color: blue;
	margin-left: 200px;
}; */

button {
	padding: 5px;
	border: 2px solid cyan;
	background: cyan;
	color: #000;
	font-size: 25px;
	text-align: center;
	margin-bottom: 40px;
	margin-left: 5px;
	border: 1px solid blue;
	margin-left: 300px;
	


}

.butt {
	margin-left: 650px;
}

.container {
	text-align: center;
	color: blue;
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.click-box {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.changeName {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;

}

p {
	text-align: center;
	font-size: 20px;
	color: #666;
}

input {
	text-align: center;
	margin-left: 600px;
	margin-bottom: 20px;
}

h3 {
	text-align: center;
	color: #a3a;
}

.verdanaFont {
	font-size:13px;
 	font-family:Verdana;
}

.segoePrintFont {
	font-size:19px;
 	font-family:"Segoe Print";
 	color: #278;

 }

 h1 {
 	text-align: center;
 	color: #09c;
 }

 .invisible {
 	display:none;
 }